<div class="container content">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<span class="anchor" id="formLogin"></span>

			<!-- form card login with validation feedback -->
			<div class="card card-outline-secondary">
				<div class="card-header">
					<h3 class="mb-0">Whishlist</h3>
				</div>
				<div class="card-body">
					<app-form-destino-viaje (onItemAdded)="agregado($event)"></app-form-destino-viaje>
				</div>
			</div>
		</div>
	</div>

	<hr class="mb-5">

	<div class="row row-flex">
		<app-destino-viaje 
        *ngFor="let d of destinosApiClient.getAll(); let i=index" 
        [destino]="d"
        [idx]="i+1"
        (clicked)="elegido($event)"
        ></app-destino-viaje>
	</div>
</div>


